.new-main{
  height: 100vh;
  width: 100vw;
  background-color: darkgreen;
  overflow: scroll;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 15px;
  padding: 100px 0;
}

.new-form{
  margin-left: 20px;
}

.title-form{
  width: 400px;
}

.image-form{
  margin-bottom: 20px;
}

.category-select{
  width: 200px;
}

.content-form{
  width: 500px;
  padding-bottom: 60px;
}

.url-form{
  width: 500px;
}

.job-form{
  width: 500px;
  padding-bottom: 120px;
}

.want-form{
  width: 500px;
  padding-bottom: 40px;
}

.new-region{
  width: 500px;
}

.prefecture-select{
  width: 130px;
}

.new-city{
  margin-left: 20px;
}

.city-form{
  width: 400px;
}

.reword-form{
  width: 400px;
}

.new-period{
  width: 170px;
}

.new-people{
  width: 400px;
}

.people-form{
  width: 100px;
}

.new-donation{
  width: 400px;
}

.donation-form{
  width: 200px;
}

.request-button{
  width: 100px;
  background-color: orange;
  border: 2px solid orange;
}