.new-page-header{
  height: 60px;
  width: 100vw;
  background-color: brown;
  border: 4px solid #c9691aa1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
}

.new-page-title{
  font-size: 37px; 
  padding: 10px 0;
  margin: 0 10px;
  font-family: 'M PLUS 1p', sans-serif;
  color: white;
}

.new-right{
  font-size: 20px;
  font-family: 'M PLUS 1p', sans-serif;
}