<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

<header class='top-page-header'>
  <div class='app-name'>
    <strong>依頼一覧</strong>
  </div>
  <div class='button-right'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-page" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, class: "logout", method: :delete %></li> 
      <% else %>
        <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>