<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

<header class='new-page-header'>
  <div class='new-page-title'>
    <strong>依頼作成ページ</strong>
  </div>
  <div class='new-right'>
    <%= link_to 'トップページ', root_path, class: "root-button" %>
  </div>
</header>