<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

<header class='login-page-header'>
  <div class='login-page-title'>
    <strong>ログインページ</strong>
  </div>
  <div class='login-right'>
    <ul class='lists-login'>
      <li><%= link_to 'トップページ', root_path, class: "root-button" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  </div>
</header>