<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

<header class='sign-page-header'>
  <div class='sign-page-title'>
    <strong>新規登録ページ</strong>
  </div>
  <div class='sign-right'>
    <%= link_to 'トップページ', root_path, class: "root-button" %>
  </div>
</header>