.sign-form{
  height: 100vh;
  background-color: darkgreen;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 100px 300px 78px;
  overflow: scroll;
}

.form-control{
  margin: 0 0 20px 0;
}

.sign-name{
  width: 200px;
}

.sign-email{
  width: 300px;
}

.sign-password{
  width: 200px;
}

.sign-password-c{
  width: 200px;
}

.sign-family-name{
  width: 300px;
}

.sign-family-kana{
  width: 300px;
}

.sign-gender{
  width: 150px;
}

.sign-age{
  width: 100px;
}

.sign-occupation{
  width: 200px;
}

.sign-ability{
  width: 500px;
}

.sign-introduction{
  width: 500px;
}

.sign-button{
  width: 100px;
  background-color: orange;
  border: 2px solid orange;
}

